.navbar {
    background-color: black;
    border-radius: 25px;
    display: flex;
    width: 100%;
}

.navbar-title {
    color: green;
}

.navbar-elements {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Pushes content to opposite sides */
    align-items: center; /* Centers vertically */
    margin-left: 25px;
    margin-right: 35px;
}

.navbar-links {
    display: flex;
    gap: 35px;
}

.cursor-pointer{
    text-decoration: none;
    color: white;
}

.cursor-pointer h1 {
    font-size: 1.5rem;
}

.cursor-pointer:hover {
    color: green;
}