body {
    background-color: rgb(23, 23, 23);
    color: white;
    font-family: monospace;
}


.grid {
    height: 85vh;
    display: grid;
    gap: 1rem;
    margin-bottom: 10vh;
    grid-template-areas:
        "navbar navbar"
        "card1 card2"
        "card1 card3";
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: 1fr 1fr;
}

.navbar {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
    grid-area: navbar;
}

.poster {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
    grid-area: card1;
}

.caption {
    grid-area: card2;
}

.testimonial {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
    grid-area: card3;
}


@media (max-width: 1081px) {
    .grid {
        grid-template-areas:
            "navbar"
            "card1"
            "card2"
            "card3";
        grid-template-columns: 1fr; /* Single column */
        grid-template-rows: auto; /* Adjust height automatically */
        height: 97vh;
    }
}